<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-hijofinal2">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
	<template is='dom-if' if='[[botSel0]]'>
	<div id="botSel0">
		<h2>Lista</h2>
		<ul>Uno</ul>
		<ul>Dos</ul>
		<ul>Tres</ul>
		<ul>Cuatro</ul>
		<ul>Cinco</ul>
	
	</div>
	</template>
	<template is='dom-if' if='[[botSel1]]'>
	<div id="botSel1">
		<h2>Tabla</h2>
		<table border="1">
			<tr>
				<td>
					uno
				</td>
				<td>
					dos
				</td>
				<td>
					tres
				</td>
				<td>
					cuatro
				</td>
			</tr>
			
			<tr>
				<td>
					uno
				</td>
				<td>
					dos
				</td>
				<td>
					tres
				</td>
				<td>
					cuatro
				</td>
			</tr>
		</table>
	</div>
	</template>
  </template>

  <script>
    /**
     * `element-hijofinal2`
     * hijo final 2
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementHijofinal2 extends Polymer.Element {
      static get is() { return 'element-hijofinal2'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-hijofinal2'
          },botSel0: {
            type: Boolean,
            value: false
          },
		  botSel1: {
            type: Boolean,
            value: false
          }
        };
		
	 }	
		

	  
     
    }

    window.customElements.define(ElementHijofinal2.is, ElementHijofinal2);
  </script>
</dom-module>
